{
  "role_arn": "arn:aws:iam::123456789012:role/YourGatewayRole",
  "role_name": "YourGatewayRole",
  "policy_arn": "arn:aws:iam::123456789012:policy/YourGatewayPolicy",
  "policy_name": "YourGatewayPolicy",
  "region": "us-west-2"
}
